name: Build, Test, Release

on:
  push:
    branches: main
  pull_request:
    branches: "*"

jobs:
  build_test:
    name: Build And Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Build Global Script Dependencies
        uses: single-spa/action-build-global-script-deps@v1
        with:
          global-scripts: ./global-scripts.json
          output-folder: dist/deps
      - name: Build Import Map
        uses: single-spa/action-build-import-map-microfrontend-deps@v1
        with:
          import-map-template: ./importmap-template.json
          output-folder: dist
          dependencies-folder: deps
          base-origin: https://react.microfrontends.app

      # https://github.com/react-microfrontends/shared-dependencies/actions/runs/11187939513/job/31105869976
      # https://github.com/actions/upload-artifact/issues/333#issuecomment-1227464293
      - name: Zip deps folder
        run: zip -r deps.zip dist/deps

      - name: Store artifact
        uses: actions/upload-artifact@v4
        with:
          name: deps.importmap
          path: dist/deps.importmap

      - name: Store artifact
        uses: actions/upload-artifact@v4
        with:
          name: deps
          path: deps.zip

  release:
    name: Release
    needs: build_test
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: deps

      - name: Unzip deps folder
        run: unzip deps.zip -d inflated && rm deps.zip

      - name: Authenticate with GCP
        uses: "google-github-actions/auth@v2"
        with:
          project_id: neural-passkey-248222
          workload_identity_provider: "projects/654158993889/locations/global/workloadIdentityPools/github/providers/my-repo"
          service_account: github-workload-identity-feder@neural-passkey-248222.iam.gserviceaccount.com

      - name: Upload Deps to CDN
        uses: "google-github-actions/upload-cloud-storage@v2"
        with:
          path: inflated/dist/deps
          destination: react.microfrontends.app/deps
          parent: false

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: deps.importmap

      - name: Update Import Map
        uses: single-spa/action-deploy-to-import-map-deployer@v1
        with:
          host: ${{ secrets.DEPLOYER_HOST }}
          username: ${{ secrets.DEPLOYER_USERNAME }}
          password: ${{ secrets.DEPLOYER_PASSWORD }}
          import-map-path: deps.importmap
          environment-name: react
